body {
	background-color: white;
	color: Black;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	
}	
.title {
	text-align: center;
	color: green;
	font-style: bold;
}
a {
	color: #333;
}
#navigation {
	margin: 30px;
	padding: 45px;
	padding-top: -50px;
	line-height: 100%;
	border-radius: 2em;

	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);

	background: lightgrey; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9a9a9', endColorstr='#7a7a7a'); /* for IE */
	

	border: solid 1px #6d6d6d;
}
#navigation li {
	margin-left: 100px;
	padding: 0 0 20px;
	float: left;
	position: relative;
	list-style: none;
	text-transformation: uppercase;
}
/* main level link */
#navigation a {
	font-weight: bold;
	color: black;
	text-decoration: none;
	display: inline block;
	padding:  8px 20px;
	margin: 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	
}
/* main level link hover */
#navigation .current a, #navigation li:hover > a {
	background: #d1d1d1; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ebebeb,  #a1a1a1); /* for firefox 3.6+ */

	color: #444;
	border-top: solid 1px #f8f8f8;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}
#navigation ul li:hover a, #navigation li:hover li a {
	background: none;
	border: none;
	color: #666;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#navigation ul a:hover {
	background: #0399d4 !important; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#04acec', endColorstr='#0186ba'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)) !important; /* for webkit browsers */
	background: -moz-linear-gradient(top,  #04acec,  #0186ba) !important; /* for firefox 3.6+ */

	color: #fff !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
/* level 2 list */
#navigation ul {
	background: #ddd; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cfcfcf)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #cfcfcf); /* for firefox 3.6+ */

	display: none;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	border: solid 1px #b4b4b4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
/* dropdown */
#navigation li:hover > ul {
	display: block;
}
#navigation ul li {
	float: none;
	margin: 0;
	padding: 0;
}
#navigation ul a {
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
}
img {
	border-radius: 10%;
	margin: 20px;
	padding: 80px;
	display: inline;
}
a {
    display: inline-block;
    position: relative;
	text-decoration: none;
	color: red;
	font-size: 15px;
	font-style: bold;
}
.caption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: green;
    line-height: 1.1em;
	font-size: 13pt;
}
a:hover .caption {
    display: inline;
	width: 200px;
	height: 250px;
	margin: 20px;
	padding: 40px;
	background-color: white;
	clear: left;
	
}​
h1 {
	text-align: center;
	margin: 20px;
	padding: 20px;
}
.row_2 {
	clear: left;
}
h2 {
	margin: 20px;
	padding: 20px;
}
.caption .claddagh {
	line-height: .5em;
}
#music {
	text-align: center;
	margin: 20px;
	padding: 20px;
}
audio {
	margin: 25px;
	padding-left: 500px;
}
.audio p {
	text-align: center;
	font-size: 15pt;
}	
#videos {
	text-align: center;
	margin: 20px;
	padding: 20px;
}
.videos {
	margin: 25px;
	padding-left: 450px;
}
h4 {
	margin-right: 200px;
	text-align: center;
	font-size: 30px;
	font-style: bold;
	color: green;
}
 .dropdown  h4{
	margin: 30px;
	padding: 10px;
	text-align: center;
	font-size: 30px;
	font-style: bold;
	color: green;
}
form {
	margin: 40px;
	padding: 10px;
	color: green;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	text-align: center;
}
#survey {
	margin: 30px;
	padding: 10px;
	text-align: center;
	font-size: 30px;
	font-style: bold;
}
.imageFlexslider {
	height: 100%;
	width: 100%;

}
.flexslider {
	height: 50%;
	width: 75%;
	margin-left: 200px;
	
}
}